<div class="tab-pane <%= status %>" id="we_all_snooze">
	<abbr title="An English translation of the previous tab" class="initialism">
		<%= we_all_snooze.shift %>
	</abbr> 
    <%= we_all_snooze.join(' ') %>
</div>